<% provide(:title, 'Contact Me') %>
<h1>Contact</h1>
<p>You can find me at:</p>
<p>Github: <a href="https://github.com/andyajna" target="blank">andyajna</a></p>
<p> LinkedIn: <a href="http://au.linkedin.com/pub/andrew-kemp/41/bb9/542" target="blank">Andrew Kemp</a></p>
