<% provide(:title, 'Quick Guide For Noobs') %>
        <div class="hero-unit">
          <div class="center">
          <h1>Rails Notes</h1>
          <h2>A noob&rsquo;s quick guide to rails commands from another noob</h2>
          <h2>by Andrew Kemp (Github = andyajna)</h2>
          </div>
            <h3>Browse these awesome online guides</h3>
            <ul class="links">
              <li><a href="http://ruby.learncodethehardway.org/book/" target="new">Learn Ruby the Hard Way</a></li>
              <li><a href="http://mislav.uniqpath.com/poignant-guide/book/" target="new">why's (poignant) guide to ruby</a></li>
              <li><a href="http://guides.rubyonrails.org/" target="new">Rails Guides</a></li>
              <li><a href="http://ruby.railstutorial.org/" target="new">Ruby on Rails Tutorial by Michael Hartl</a></li>
              <li><a href="http://betterexplained.com/articles/starting-ruby-on-rails-what-i-wish-i-knew/" target="new">Starting on Rails: What I Wish I Knew</a></li>
            </ul>
        </div>