<% provide(:title, 'Quick Guide For Noobs') %>
        <div class="hero-unit">
          <div class="center">
          <h1>Rails Notes</h1>
          <h2>A noob&rsquo;s quick guide to rails commands from another noob</h2>
          <h2>by Andrew Kemp</h2>
          </div>
        </div>
            <h3>Browse these awesome online guides to learn in-depth</h3>
            <ul class="links">
              <li><a href="http://ruby.learncodethehardway.org/book/" target="new">Learn Ruby the Hard Way</a> (What I used to learn Ruby)</li>
              <li><a href="http://mislav.uniqpath.com/poignant-guide/book/" target="new">why's (poignant) guide to ruby</a></li>
              <li><a href="http://guides.rubyonrails.org/" target="new">Rails Guides</a></li>
              <li><a href="http://ruby.railstutorial.org/" target="new">Ruby on Rails Tutorial by Michael Hartl</a> (What I used to learn Rails)</li>
              <li><a href="http://betterexplained.com/articles/starting-ruby-on-rails-what-i-wish-i-knew/" target="new">Starting on Rails: What I Wish I Knew</a></li>
            </ul>
            <p>&nbsp;</p>
            <h3>Browse my pages to quickly access common code</h3>
            <ul class="links">
              <li><%= link_to "Setting Up", setup_path %></li>
            </ul>
            <p>&nbsp;</p>
            <h3>Acknowledgement &amp; License</h3>
            <p>All of the <code>code written like this</code> comes from Michael Hartl's excellent guide <a href="http://ruby.learncodethehardway.org/book/" target="new">Learn Ruby the Hard Way</a>, which comes with the following license:</p>
            <blockquote>The MIT License

Copyright (c) 2012 Michael Hartl

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.  IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</blockquote>
<p>&nbsp;</p>
<blockquote>
 ----------------------------------------------------------------------------
 <br>"THE BEER-WARE LICENSE" (Revision 42):
 Michael Hartl wrote <code>this code</code>. As long as you retain this notice you
 can do whatever you want with this stuff. If we meet some day, and you think
 this stuff is worth it, you can buy me a beer in return.
 <br>----------------------------------------------------------------------------
 </blockquote>
        